@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

body{
    background-color: #ffe3e3;

}
h1{
    color: #f7c224;
    font-size: 60px; 
}
h2{
    color: #7583c9;
    font-size: 30px;
}
h3{
    color: #fe36a5;
    font-size: 25px;
}
p{
    color: #111111;
    font-size: 20px;
}

img{
    position:relative;
    left: 600px;
    bottom: 670px;
    height: 500px ;
   
}


a{
    background-color: pink;
    border: palevioletred;
    border-radius: 50px;
    padding: 10px;
    color:white;
    text-decoration: none;
    position: relative;
    bottom:450px;
  

  }
  a:hover{
    background-color: #f7c224;
  }