@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
body{
    background-color: #ffe3e3;
}
h1{
    color:  #e0218a;
    font-size: 90px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    color:#819ae7;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}


p1{
 color: #000000 ;
 text-align:right;
 font-size: larger;
 font-family: 'Courier New', Courier, monospace;
}
p2{
    color:  #000000 ;
 text-align:right;
font-size: larger;
font-family: 'Courier New', Courier, monospace;
}
p3{
    color:  #000000 ;
 text-align:right;
 font-size: larger;
 font-family: 'Courier New', Courier, monospace;
}

a{
    background-color: pink;
    border: palevioletred;
    border-radius: 50px;
    padding: 10px;
    color:white;
    text-decoration: none;

  }
  a:hover{
    background-color: #f7c224;
  }