body{
    background-color: #ffe3e3;
}
h1{
    color: #f7c224;
    font-size: 60px; 
}
p{
    color: #111111;
    font-size: 20px;
    padding-right: 50%;
}

img{
    position:relative;
    left: 500px;
    bottom: 250px;
    height: 300px ;
    
}
a{
    background-color: rgb(219, 87, 109);
    border: rgb(167, 34, 56);
    border-radius: 50px;
    padding: 10px;
    color:white;
    text-decoration: none;
    position: relative;
    bottom: 150px;


  }
  a:hover{
    background-color: #f7c224;
  }